In [8]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import string
import plotly.graph_objects as go

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances, cosine_distances, cosine_similarity

import warnings
warnings.filterwarnings('ignore')

import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

pd.set_option('max_rows',None)
%matplotlib inline
sns.set()

In [2]:
# Loading the necessary datasets
df = pd.read_csv('../data/df_clean.csv')
#XXX = pd.read_csv('./data/XXXX.csv')
#XXX = pd.read_csv('./data/XXX.csv')

In [3]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500000.0,565000.0,Left,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,405000.0,Right,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000.0,290000.0,Right,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000.0,260000.0,Right,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000.0,355000.0,Right,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [4]:
#df_cat = pd.get_dummies(df[['Nationality', 'Club', 'Preferred Foot', 'Work Rate', 'Body Type', 'Main Position']])

In [5]:
#df_num = df[['Wage', 'International Reputation', 'Overall', 'Potential', 'Reactions', 'Composure', 'Vision',
#         'ShortPassing', 'Skill Moves', 'BallControl', 'LongPassing', 'Volleys', 'Curve', 'ShotPower',
 #        'LongShots', 'Dribbling', 'FKAccuracy', 'Positioning', 'Finishing', 'Crossing', 'Penalties', 
  #        'Contract Valid Until', 'Stamina']]

In [6]:
#df2 = pd.concat([df_num, df_cat], axis = 1)

In [ ]:
# Select important columns
columns =

In [ ]:
# Combine important features
get_important_features(data):
    important_features = []
    for i in range(0, data.shape[0]):
        important_features.append(data['XXX'][i]+' '+ data['XXX'][i]+' '+ data['XXX'][i]+' '+ data['XXX'][i])
    
    return important_features

In [ ]:
# create column to hold combinedm features
df['Important Features'] = get_important_features(df)

In [ ]:
tvec = TfidfVectorizer().fit_transform(df['Important Features'])

In [ ]:
# Get cosine similarity matrix
cs = cosine_similarity(tvec)

# print cosine similarity matrix
print(cs)

In [ ]:
cs.shape

In [ ]:
# get the player profile
title = 'XX'

#find player id
movie_id = df[df.Title == title]['Movie_id'].values[0]

In [ ]:
# Create a list of enumerations for similarity scores (movie_id, similarity score)
scores = list(enumerate(cs[movie_id]))

In [ ]:
# sort the list
sorted_scores = sorted(scores, key = lambda x:x[1], reverse=True)
sorted_scores = sorted_scores[1:]

In [ ]:
print(sorted_scores)

In [ ]:
# create a loop to peint the first 7 similar players
j = 0
print('7 most similar players', title, 'are:\n')
for item in sorted_scores:
    movie_title = df[df.Movie_id == item[0]]['Title'].values[0]
    print(j+1, movie_title)
    j = j+1
    if j>6:
        break